<div class="image_form">
  <div class="new_proyect_form">
    <h1>New proyect</h1>
    <%= form_for @proyect do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category, Proyect::CATEGORY , class: "form-dropdown" %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control',placeholder:"Lisboa, Portugal" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit "Add proyect", class: "btn btn-flat mb-3" %>
      </div>
    <% end %>
  </div>
</div>
