<div class="container">
  <h1><%= @category.name %></h1>
  <h4>Maderas | Madera2 | Madera3</h4>
  <div class="card-intro">
    <%= image_tag @category.image_url %>
    <div class="intro-description">
      <h4><%= @category.name %></h4>
      <p><%= @category.description %></p>
    </div>
  </div>

  <%# proyect portfolio %>
  <div class="cards">
    <% @proyects.each do |proyect|%>
      <div class="card-proyect">
        <% first_photo= proyect.photos.first %>
        <%= cl_image_tag first_photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-proyect-info">
          <%=proyect.name %>
          <%= proyect.wood %>
          <%=proyect.location %>
        </div>
      </div>
    <%end %>
  </div>
  <%# proyect portfolio %>
</div>
